body{
    background-color: blanchedalmond;
    background-image: url(pic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    color: brown;
}
.textcolor{
    color: cadetblue;
}
#id1{
    color: chocolate;
}